* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

/*nav*/
.page1{
    position : relative;
    min-height : 100vh;
     background-image: url('https://yucca.co.za/wp-content/uploads/2025/09/yucca-packaging-homepage-intro-plastic-cups-for-iced-chilled-drinks-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.nav {
    display: flex;
    align-items: center;
    height : 80px;
    border-bottom : 0.2px solid rgba(118, 117, 117, 0.266);
}
.nav-left {
    display: flex;
    align-items: center;
    gap : 10px;
    margin-left : 100px;
}
.nav-left img {
    height : 40px;
}
.nav-center {
    list-style: none;
    display: flex;
    gap : 30px;
    margin-left : 40px;
}
.nav-center li {
    font-weight: 100;
    font-size: 14px;
}
.nav-right {
    display: flex;
    align-items: center;
    gap : 20px;
    margin-left: auto;
    margin-right: 80px;
}
.nav-right p {
    font-size: 14px;
}


/*hero*/
.content {
    top : 30;
    position: absolute;
    display: flex;
    padding-left: 70px;
    width : 100%;
    flex-direction: column;
}

.text p{
    margin-top: 30px;
    font-size : 70px;
    font-weight: 300;
    margin-bottom: 0px;
}

.boxes {
    display: flex;
    height : 270px;
    width : 70%;
    gap : 15px;
    justify-content: space-between;
    flex-shrink: 0;
}
.card{
    display: flex;
    justify-content: center;
    width : 33%;
    border-radius: 15px;
    background-color: rgb(231 223 211 / 40%);
    backdrop-filter: blur(15px); 
    
}

.front {
    display: flex;
    position: relative;
    align-items: center;
    font-size: 24px;
    opacity : 1;
}
 .back{
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity:  0;
    font-size : 13px;
    padding-left : 20px;
    padding-top : 20px;
    align-items: top;
    border-radius : 15px;
    height : 100%;
    width: 100%;
}
.line {
    overflow: hidden;
    margin-bottom: 8px;
}

.line p {
    
    transform: translateY(100%);
    transition: 0.3s ease-out;
}

.back:hover p {
    transform: translateY(0);
    opacity: 1;
}
.card:hover .back {
    transition : opacity 0.2s ease-in;
    opacity : 1;
    background-color: white;
    
}
.hrl {
    overflow: hidden;
    display: inline-block;
    margin-top : 45px;
}
.hrl p{
    transform: translateX(-100%);
    transition: 0.7s ease-in;
    opacity: 0;
}
.back:hover .hrl p {
    transform: translateX(0);
    opacity: 1;
}

.card:hover .front {
    transition : opacity 0.2s ease-in;
    opacity : 0;
}

/*page-2---------------------------------------------------------------------------------*/

.page2 {
    display: flex;
    height : 180vh;
    align-items: center;
    justify-content: center;
    background-color: #DFDAC6;
    flex-direction: column;
}
.bg {
    display: flex;
    
}
.bg img {
    height : 800px;
}
.con2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom : 0;
}
.t{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 26px;
}
.seeprbutton {
    margin-top : 25px;
    height : 30px;
    width : 100px;
    background-color: rgb(37, 34, 34);
    border-radius: 2px;
    color: white;
}

.page3 {
    position: relative;
    height : 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.boxes3 {
    display: flex;
    width : 70%;
    height : 400px;
    gap : 20px;
    align-items: center;
    justify-content: center;
}


/*-------------------------------------------page3-----------------------------------------------------*/
.images {
    position: absolute;
    top : 0;
    bottom : 0;
    left : 0; 
    right : 0;
    z-index: -1;
}
.im1 {
    opacity: 1;
    height: 100%;
    width: 100%;
}
.im2, .im3{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    width : 33%;
    height : 300px;
    font-size: 24px;
    border-radius: 15px;
    background-color: rgb(231 223 211 / 40%);
    backdrop-filter: blur(15px);
    transition: opacity 0.3s ease;
}
.cards:hover {
    height : 380px;
    width : 400px;
}
#c2:hover {
    width : 420px;
}
#c3:hover {
    width: 430px;
}

#c2:hover ~ .images .im2{
    opacity: 1;
    /* transform: scaleY(90%); */
}
#c3:hover ~ .images .im3{
    opacity: 1;
    /* transform: scaleY(97%); */
}

.front2 {
    opacity: 1;
    position: relative;
    transition: opacity 0.5s ease;
}

.back2 {
    background-color: white;
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: opacity 0.4s ease-in;
    border-radius : 15px;
}
.cards:hover .back2{
    opacity: 1;
}

.cards:hover .back2 .lines {
    font-size: 16px;
}
.lines {
    font-size: 14px;
}
.head1 {
    font-size: 32px;
    margin-left : 20px;
    margin-top : 20px;
    margin-bottom: 20px;
    overflow: hidden;
    transform: translate(0);
}
.head1 p {
      transform: translateY(100%);
}

.lines {
    left: 20px;
    margin-left : 20px;
    overflow: hidden;
    margin-bottom: 8px;
    transform: translate(0);
}

.lines p {
    
    transform: translateY(100%);
}
.back2:hover p {
    transition: 0.5s ease;
    transform: translateY(0);
    opacity: 1;
}



/*---------------------------------------------------page4------------------------------*/

.page4{
    height: 110vh;
    background-color: #FFFDF5;
    display: flex;
    flex-direction: column;
}
.con {
    flex: 3;
    display: flex;
    border-bottom: 1px solid #A8A8A7;
}
#section-3{
    border :none;
}
.sec1 {
    display: flex;
    align-items: center;
    flex: 7;
    margin-left : 100px;
    font-size: 26px;
}
#header {
    font-size: 50px;
    font-weight: 400;
}
.sec2 {
    display: flex;
    flex-direction: column;
    flex : 5;
    justify-content: center;
    font-size: 16px;
    margin-right : 100px;
}
.about-but{
    width : 80px;
    height : 30px;
    margin-top : 30px;
    font-size: 12px;
    border-radius: 5px;
    background-color: #1D1D1B;
    color: white;
}

/*---------------------------------------------------page5--------------------------------------------*/

.page5{
    height : 100vh;
    display : flex;
    flex-direction: column;
    background-color: #FFFDF5;
}
.empty-sec{
    flex : 1;
    border-bottom: #000000;
}
.products-sec {
    flex: 3;
}
.products-heading{
    display: flex;
    justify-content: space-between;
    margin-right : 100px;
    margin-left : 100px;
}

.products-heading p {
    font-size: 36px ;
}

.products-heading button {
    width : 80px;
    height : 30px;
    border : 0.5px solid black;
    font-size : 12px;
    border-radius: 5px;
    background-color: #FFFDF5;
}