* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

/*nav*/
.page1{
    position : relative;
    min-height : 100vh;
     background-image: url('https://yucca.co.za/wp-content/uploads/2025/09/yucca-packaging-homepage-intro-plastic-cups-for-iced-chilled-drinks-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.nav {
    display: flex;
    align-items: center;
    height : 80px;
    border-bottom : 0.2px solid rgba(118, 117, 117, 0.266);
}
.nav-left {
    display: flex;
    align-items: center;
    gap : 10px;
    margin-left : 100px;
}
.nav-left img {
    height : 40px;
}
.nav-center {
    list-style: none;
    display: flex;
    gap : 30px;
    margin-left : 40px;
}
.nav-center li {
    font-weight: 100;
    font-size: 14px;
}
.nav-right {
    display: flex;
    align-items: center;
    gap : 20px;
    margin-left: auto;
    margin-right: 80px;
}
.nav-right p {
    font-size: 14px;
}


/*hero*/
.content {
    top : 30;
    position: absolute;
    display: flex;
    padding-left: 70px;
    width : 100%;
    flex-direction: column;
}

.text p{
    margin-top: 30px;
    font-size : 70px;
    font-weight: 300;
    margin-bottom: 0px;
}

.boxes {
    display: flex;
    height : 270px;
    width : 70%;
    gap : 15px;
    justify-content: space-between;
    flex-shrink: 0;
}
.card{
    display: flex;
    justify-content: center;
    width : 33%;
    border-radius: 15px;
    background-color: rgb(231 223 211 / 40%);
    backdrop-filter: blur(15px); 
    
}

.front {
    display: flex;
    position: relative;
    align-items: center;
    font-size: 24px;
    opacity : 0;
}
 .back{
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity:  1;
    font-size : 13px;
    padding-left : 20px;
    padding-top : 20px;
    align-items: top;
    border-radius : 15px;
    height : 100%;
    width: 100%;
}
.line {
    overflow: hidden;
    margin-bottom: 8px;
}

.line p {
    
    transform: translateY(100%);
    transition: 0.3s ease-out;
}

.back:hover p {
    transform: translateY(0);
    opacity: 1;
}
.card:hover .back {
    transition : opacity 0.2s ease-in;
    opacity : 1;
    background-color: white;
    
}
.hrl {
    overflow: hidden;
    display: inline-block;
    margin-top : 50px;
}
.hrl p{
    transform: translateX(100%);
    transition: 0.3s ease-out;
    opacity: 0;
}
.back:hover .hrl p {
    transform: translateX(0);
    opacity: 1;
}




.card:hover .front {
    transition : opacity 0.2s ease-in;
    opacity : 0;
}
